:root{
    --green:green;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,0.1);
    --border:2rem solid rgba(0,0,0.1);
    --outline:.1rem solid rgba(0,0,0.1);
}
*{
   font-family:'poppins',sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
    border:#130f40;
  text-decoration: none;
  text-transform: none;
  text-transform: capitalize;
  transition: all .1s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    background: #e3d7d7;
}
section
{
    padding: 2rem 9%;
}
.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:var(--black)
}
.review .review-slider{
    border: 0px solid;
    padding: 1rem;
}
.review .review-slider.box 
{
    border:0px solid red;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline:var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}
.review .review-slider .box :hover
{
    box-shadow: 1px 1px 10px 4px var(--green);
} 
.review .review-slider .box img
{
  height:10rem;
  width: 10rem;  
  border-radius: 50%;
}
.review .review-slider .box p
{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
     font-size: 1.5rem;
}
.review .review-slider .box h3
{
    padding-bottom: .5rem;
    color: var(--black);
     font-size: 2.2rem;
}
.review .review-slider .box .stars
{
    color:orange ;
     font-size: 1.7 rem;
}
